input[type="text"], input[type="date"], input[type="email"] {
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-grow: 1;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus {
    border: 2px solid var(--primary-color);
}

fieldset {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    flex-wrap: wrap;
}

#address-group.visible {
    display: block;
}

#address-group.hide {
    display: none;
}

.address-form {
    flex-direction: column;
    gap: 15px;
}

.btn-submit {
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    font-size: 1.1rem;
}

.group-form {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
}