header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px rgb(172, 172, 172);
}

.container-header {
    display: flex;
    width: var(--default-width-screen);
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.menu .item-menu a {
    color: black;
}

.menu-user {
    position: relative;
}

.menu-user {
    margin-left: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}

.menu-user a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.hello-user {
    color: white !important;
}

.menu-popup {
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    background-color: white;
    color: black;
    z-index: 10;
}

.menu-popup.visible {
    display: flex;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    gap: 10px;
}

.menu-items a {
    color: black;
}

.menu-items .item-menu {
    color: black;
    list-style-type: none;
    gap: 20px;
    margin: 0;
}