header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px rgb(172, 172, 172);
}

.container-header {
    display: flex;
    width: var(--default-width-screen);
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.menu-desktop {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.menu-desktop .item-menu-desktop a {
    color: black;
}

.menu-desktop-user {
    position: relative;
}

.menu-desktop-user {
    margin-left: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}

.menu-desktop-user a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.hello-user {
    color: white !important;
}

.menu-desktop-popup {
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    background-color: white;
    color: black;
    z-index: 10;
}

.menu-desktop-popup.visible {
    display: flex;
}

.menu-desktop-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    gap: 10px;
}

.menu-desktop-items a {
    color: black;
}

.menu-desktop-items .item-menu-desktop {
    color: black;
    list-style-type: none;
    gap: 20px;
    margin: 0;
}

.menu-mobile {
    display: none;
}

#sidebar-mobile {
    display: none;
    position: fixed;
    height: 100vh;
    transform:translateX(-100%);
    background-color: white;
    z-index: 30;
}

@media (max-width: 750px) {
    .menu-desktop {
        display: none;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        color: white;
        /* height: 94.8833px; */
        height: 10%;
        padding: 20px;
    }

    .sidebar-main {
        display: flex;
        flex-direction: column;
        height: 90%;
        gap: 20px;
        padding: 20px;
    }

    .hello-user-mobile {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        gap: 10px;
    }

    .menu-mobile {
        display: flex;
    }

    #sidebar-mobile {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        height: 100vh;
        width: 80%;
        top:0;
        left: 0;
        transform: translateX(-100%);
        transition: ease-in-out 0.2s;
        background-color: white;
        z-index: 30;
    }

    #sidebar-mobile.visible {
        transform: translateX(0);
    }

    #menu-mobile-icon {
        cursor: pointer;
    }

    .sidebar-mobile.visible {
        transform: translateX(0);
        transition: ease-in-out 1s;
    }

    .menu-mobile-ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        align-items: start;
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: space-between;
    }

    .menu-mobile-pages {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        align-items: start;
        margin: 0;
        padding: 0;
    }

    .menu-mobile-actions {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        align-items: start;
        margin: 0;
        padding: 0;
    }

    .item-menu-mobile a {
        color: black;
        font-size: 1.2rem;
    }
}