.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    gap: 5px;
    padding: 20px;
    border-radius: 15px;
    flex-grow: 1;
}

.no-margin {
    margin: 0;
}

.container-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    max-width: var(--default-width-screen);
    padding: 20px 20px;
    align-items: center;
}

.day-month {
    font-size: 2.7rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.dw {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}