table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-spacing: 0;
    border: none;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.table-container {
    margin-top: 5px;
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
}

thead {
    background-color: var(--primary-color);
    color: white;
}

th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600; 
    letter-spacing: 0.5px; 
}

td {
    padding: 5px 15px;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

tbody tr:last-child td {
    border-bottom: none;
}
