.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    gap: 5px;
    padding: 20px;
    border-radius: 15px;
    flex-grow: 1;
}

.no-margin {
    margin: 0;
}