main.fade-in-animation {
    opacity: 0 !important;;
    transition: opacity 0.5s ease-in-out;
}

main.fade-in-animation.loaded {
    opacity: 1 !important;;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white-background);
}

.container-fluid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--default-width-screen);
    padding: 20px 10px;
}

.bg-white {
    background-color: white;
    box-shadow: 0 0 15px rgb(203, 203, 203);
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}





.btn-actions {
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
}

.btn-table {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.btn-submit {
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
    border: 1px solid var(--primary-color);
}

.new {
    background-color: var(--success);
    color: var(--white);
}

.delete {
    background-color: var(--error);
    color: var(--white);
}

.info {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-header {
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
}

.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 50px;
}
