body {
    margin: 0;
    padding: 0;
    background-color: var(--white-background);
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main.fade-in-animation {
    opacity: 0 !important;;
    transition: opacity 0.5s ease-in-out;
}

main.fade-in-animation.loaded {
    opacity: 1 !important;;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.background-blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url("/assets/background-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    transform: scale(1.05); 
}

.height100 {
    height: 100vh;
}

.container-fluid-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.222);
    padding: 30px 40px;
    min-width: 550px;
    min-height: 350px;
    border-radius: 15px;
    position: relative; 
    z-index: 10; 
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    margin-left: 13px;
}

input[type="email"], input[type="password"], input[type="submit"], input[type="text"] {
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid rgb(215, 215, 215);
    display: flex;
    flex-grow: 1;
    width: 100%;
    outline: none;
}

input[type="submit"]  {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--white);
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus  {
    outline: 2px solid var(--primary-color);
}

label {
    font-size: 0.9rem;
}

.create-account {
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .container-fluid-login {
        min-width: 300px;
        padding: 30px 20px;
    }
}