table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

thead {
    background-color: var(--primary-color);
    color: white;
}

th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600; 
    letter-spacing: 0.5px; 
}

td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

tbody tr:last-child td {
    border-bottom: none;
}

.table-header {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 10px;
}

.table-group {
    padding: 10px;
    border-radius: 15px;
}

.table-actions {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    
}

.action-icon {
    width: 20px; 
    height: 20px;
    display: block;
    margin-right: 5px;
}

.action-icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-page {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 15px;
}

.active {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}