input[type="text"], input[type="date"], input[type="email"] {
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 10px;
    outline-color: none;
    border: 1px rgb(235, 235, 235);
    display: flex;
    flex-grow: 1;
}

fieldset {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
}

.btn-submit {
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    font-size: 1.1rem;
}